@import "tailwindcss";

.league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-cust-grey-500: hsl(0, 0%, 63%);
    --color-cust-grey-800: hsl(0, 0%, 27%);
    /* font size */
    --text-para: 16px;
    /* font weight: 500 - medium, 600 - semibold, 700 - bold */
}

@layer base {
    p {
        @apply text-para text-cust-grey-500 font-semibold pt-4;
        ;
    }

    button,
    a {
        @apply cursor-pointer;
    }
}

@layer components {

    /* Slide */
    .slide {
        @apply flex md:flex-row flex-col h-full opacity-0 absolute inset-0 transition-opacity duration-500;
    }

    /* Slide Image */
    .image {
        @apply w-full h-94 md:h-140 lg:h-125 xl:h-135;
    }

    .slide img {
        @apply object-cover w-full h-full;
    }

    /* Slide Content */
    .content {
        @apply py-15 px-8 md:py-0 md:w-100 lg:w-250 xl:w-265 md:p-15 lg:pt-10 lg:-translate-y-10 lg:px-20 flex flex-col justify-center md:items-center;
    }

    .content h1 {
        @apply md:text-5xl text-4xl font-bold;
    }

    .content button {
        @apply self-start font-medium uppercase tracking-[0.6rem] pt-8 flex items-center gap-4;
    }

    .content button:hover {
        @apply text-cust-grey-500 transition-colors duration-150
    }

    /* Nav item underline */

    .cust-underline {
        @apply bg-white w-full h-[1.5px] absolute -bottom-2 left-0 scale-x-0 origin-center group-hover:scale-x-100 transition-transform duration-300 ease-out;
    }
}

.slide[data-active] {
    @apply opacity-100;
}